.singlecard-body {
    margin-top: 100px
}

.singlecard-title{
    margin-top: 72px
}
.singlecard-text {
    margin-top: 20px
}

.exhibit-name {
    font-weight: 3
}

#single-background {
    background: #DEB887;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(222, 184, 135, 1), rgba(166, 193, 238, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(222, 184, 135, 1), rgba(166, 193, 238, 1))
}

#titleText{
    font-weight: 25
}

